#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: aqua;
  color: blueviolet;
  font-family: Arial, sans-serif;
}

.contenedor{
  background-color: #a8a1a1;
  border: solid 5px black;
  padding: 15px 15px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  /* width: 350px; */
  display: block;
  text-align: left;
}
h1 {
  font-size: 50px;
  border: solid 2px rgb(224, 213, 213);
  background-color: black;
  border-radius: 5px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  padding: 0px;
  text-align: center;
  
  
}
input {
  width: 250px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: rgb(137, 126, 197);
  border-color: black;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
button {
  background-color: #4caf96;
  color: blueviolet;
  padding: 10px 20px;
  margin: 5px;
  border: solid 2px black;
  border-radius: 20px;
  cursor: pointer;
}
