#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: aqua;
  color: blueviolet;
  font-family: Arial, sans-serif;
}

.contenedor{
  background-color: #a8a1a1;
  border: solid 5px black;
  padding: 15px 15px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  /* width: 350px; */
  display: block;
  text-align: right;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  border: solid 2px rgb(219, 216, 216);
  background-color: rgb(139, 135, 130);
  border-radius: 5px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  padding: 0px;
  text-align: center;
}
label{
  color:black;
  font-weight: bold;
  
}
input {
  width: 250px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border-color: black;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
button {
  background-color: #4caf96;
  color: blueviolet;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  border: solid 2px rgb(46, 44, 44);
  border-radius: 20px;
  cursor: pointer;
}
